<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script>
        if (localStorage.getItem('dark_mode') === 'true') {
            document.documentElement.setAttribute('data-theme', 'dark');
        }
    </script>
    
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <script defer src="https://cloud.umami.is/script.js" data-website-id="2c069036-18db-447e-b40c-9ad8f69357c7"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script>
        // Add this before the Tailwind CDN script
        window.tailwind = {
          darkMode: ['attribute', '[data-theme="dark"]'],
          // other config options if needed
        };
      </script>
    {tailwindcss}
</head>
<body class="antialiased bg-white dark:bg-neutral-950">
    <div class="container">
        <include src="header.html"></include>
        {slot}
        <include src="footer.html"></include>
        <script src="/assets/js/main.js"></script>
    </div>
</body>
</html>
